a { text-decoration:none; color:#069}
a:hover {text-decoration: underline}
.cf60{color:#f60}
/*a{color:#329ecc} overflow:hidden*/
em{color:red; padding:0 10px; margin:0 10px 0 0; font-size:16px; line-height:16px; font-style:normal}

body{font-size:12px; }
.ml10{margin-left:10px}
.disP5{display:block; padding:5px 0}
.fLBox{display:inline-block; float:left; padding:0 10px}
.fLBox font{color:#f60}
.nF{float:none}
.headPicBox{float:left; margin-right:20px; width:64px; height:64px}
.headPicBox img{width:64px; height:64px}

.mainTitle{font-size:16px; line-height:30px; height:30px; font-weight:bold; color:#4d5762; padding:0px 0 0 20px; margin-left:15px; background:url(../images/ico000.gif) no-repeat 5px 10px; border-bottom:1px solid #ccc; clear:both;margin-top:21px;margin-right:5px}
.mainTitle b{margin-right:15px}
.mainTitle a{border:0; font-size:14px}
.mainTitle a:hover{border:0}

.mainConText{margin:10px 0 15px 20px; line-height:24px}

.mainListUL{margin:10px 0 15px 15px; display:block}
.mainListUL li{display:block; width:370px; height:30px; float:left; padding:0 0 0 5px}
.mainListUL li span{margin:0 0 0 6px; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#999}

.tagUl{display:block; height:26px; color:#fff; margin:10px 0 10px 0px}
.tagUl li{display:block; height:24px; padding:2px 15px 0; float:left; margin-right:2px; background:#999; cursor:pointer}
.tagUl li.On{background:#2a7ad2}
.tagUl li a{color:#ddd; border:0}
.tagUl li a:hover{color:#fff; border:0; text-decoration:none}
.tagUl li.On a{color:#fff}
.tagUl .liBtn{float:right; height:20px; line-height:20px; background:url(../images/btnBg1.gif) top; font-weight:bold}
.tagUl .liBtn a{color:#fff}
.tagUl .liBack{float:right; height:20px; line-height:20px; background:url(../images/btnBg3.gif) top; font-weight:bold}
.tagUl .liBack a{color:#666}
.tagUl .liBack a:hover{color:#000}

.siteTag{border:1px solid #bfbfbf; padding:1px; margin:20px 0 0 20px}
.siteTag .tagUl2{display:block; height:26px; background:url(../images/btnBg6.gif) repeat-x bottom; color:#fff; padding:10px 5px 0}
.siteTag .tagUl2 b{display:block; float:left; padding:0 15px 0 5px; color:#333}
.siteTag .tagUl2 li{display:block; height:24px; line-height:24px; padding:0 15px; float:left; margin-right:2px; background:#999; cursor:pointer; border:1px solid #bfbfbf}
.siteTag .tagUl2 li a{border:0; color:#fff}
.siteTag .tagUl2 li a:hover{border:0}
.siteTag .tagUl2 li.On{background:#fff; border:1px solid #bfbfbf; border-bottom:1px solid #fff; color:#2a7ad2; font-weight:bold}
.siteTag .tagUl2 li.On a{color:#2a7ad2}
.siteTag .siteTagCon{padding:15px 10px}
.siteTag .siteTagCon td{border:0}

.siteTag2{background:#eaf2fb; padding:15px 5px; margin:0 0 20px 20px; line-height:14px; border-top:2px solid #2a7ad2; border-bottom:2px solid #2a7ad2}
.siteTag2 a{border:0; line-height:20px; border-right:1px solid #c0d7f2; padding:5px 10px; color:#2a7ad2;}
.siteTag2 a:hover{color:#fff; border-bottom:0; background:#2a7ad2; text-decoration:none}
.siteTag2 .site{padding:15px 0 0 }
.siteTag2 .site b{color:#333}

/**/
.pageBox{display:block; line-height:18px; height:18px; padding:15px 10px; border:0}
.pageBox dt{float:left; color:#999}
.pageBox dt span{color:#666; padding:0 5px; font-weight:bold; font-family:Arial}
.pageBox dd{float:right}
.pageBox dd a{color:#329ecc; padding:0 5px}
.pageBox dd a:hover{background:#266dbb; color:#fff}}
.pageBox dd .On{background:#266dbb; color:#fff}
.btnBox{padding:35px 0 35px 180px}

.pageBoxLeft{border-bottom:1px solid #95b8e7; border-left:1px solid #95b8e7;padding-left:12px}
.pageBoxRight{border-bottom:1px solid #95b8e7; border-right:1px solid #95b8e7}

/*
.tableCon tr:hover{background-color: #f2f2f2; }
*/
.trOdd {
	background-color: #ffffff;
}
.trEven{
	background-color:#f7f7f7 ;
}


.tableCon{ border:1px solid #95b8e7;border-bottom:0	;}
.tableCon td{border-bottom:1px solid #e5e5e5; line-height:32px; height:32px; padding:0 10px; color:#666;}
.tableCon tr:hover{background:#eaf2ff}

.tableEdit{ border:0;}
.tableEdit td{border-bottom:1px solid #e5e5e5; line-height:32px; height:32px; padding:0 10px; color:#666;}
.tableEdit tr:hover{background:#eaf2ff}

.TRtit td,.TRtit th{ background:#eef5ff url(../images/tdbg.gif) bottom repeat-x;
  height:32px; line-height:32px;
  border-bottom:1px solid #95b8e7;
  font-weight:bold;
}


.tableCon b{color:#333; line-height:18px}
.tableCon p{color:#808080; line-height:18px}

.tagTable{margin-bottom:5px; background:#f2f2f2; padding:5px 0; margin-left:20px; margin-top:10px;margin-right:5px;}
.tagTable td{line-height:22px; padding:5px; color:#666}
/**/
.inputText{height:24px; font-size:12px; line-height:16px; padding:2px 5px; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; float:left}
.inputRadio{float:left; margin-right:5px}
label{float:left; margin-right:25px}
.textareaInput{line-height:20px; font-size:12px; line-height:18px; padding:5px; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; float:left}
.btnInput1{background:url(../images/butt1.gif) no-repeat; width:70px; height:26px; border:0px; color:#fff; font-weight:bold; margin-left:5px;}
.btnInput2{background:url(../images/butt2.gif) no-repeat; width:70px; height:26px; border:0px; color:#333; font-weight:bold; margin-left:5px;}
.btnInput3{background:url(../images/butt3.gif) no-repeat; width:57px; height:26px; border:0px; color:#fff; font-weight:bold; margin-left:5px;}
.btnInput4{background:url(../images/butt4.gif) no-repeat; width:79px; height:26px; border:0px; color:#fff; font-weight:bold; margin-left:5px;}
.btnInput5{background:url(../images/butt5.gif) no-repeat; width:86px; height:26px; border:0px; color:#fff; font-weight:bold; margin-left:5px;}
.btnInput6{background:url(../images/butt6.gif) no-repeat; width:86px; height:26px; border:0px; color:#fff; font-weight:bold; margin-left:5px;}
.btnInput7{background:url(../images/butt7.gif) no-repeat; width:130px; height:26px; border:0px; color:#fff; font-weight:bold; margin-left:5px;}
.selectInput{height:20px; font-size:12px; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; float:left}
.disP5 .btnInput4{margin:5px 10px 0 0}


/**/
.sortBox{float:left;}
.sortBox a{display:block; float:left; line-height:17px; width:37px; height:17px; border:1px solid #ddd; padding:0 0 0 3px; color:#333; background:url(../images/site_02.gif) right; margin-right:5px}
.sortBox a:hover{background:url(../images/site_03.gif) right; border:1px solid #318ed1}
.sortBox .On{background:url(../images/site_03.gif) right; border:1px solid #318ed1}



.sitePath{color:#999; cursor:default; margin-bottom:10px; height:21px; margin-left:20px;}
.sitePath a{margin:0 5px}

.sitePath .liBtn{float:right; display:block; height:20px; line-height:20px; background:url(../images/btnBg1.gif) top; padding:2px 10px 0; color:#fff}



.tipsBoxP{border:3px solid #fff; padding:2px; background:#2a7ad2; width:600px; position:absolute; z-index:9; top:150px; left:50%; margin-left:-305px; font-family:Arial, Helvetica, sans-serif}
.tipsBoxP .tit{height:30px; line-height:30px; font-weight:bold; padding:0 10px; border-bottom:1px solid #2a7ad2; background:#e5f2ff}
.tipsBoxP .tit b{float:left}
.tipsBoxP .tit a{float:right; color:#2a7ad2; padding:0 5px; border:0}
.tipsBoxP .tit a:hover{border:0}
.tipsBoxP .con{padding:15px; background:#fff}
.tipsBoxP .con p{display:block; line-height:18px; padding:10px 0 5px}
.tipsBoxP input{float:none}
.tipsBoxP .con font{color:#f60}
.tipsBoxP .inputText{float:left}

/**/
.tableP{border-collapse:collapse}
.tableP td,.tableP th{border:1px solid #ccc; line-height:24px}
.tableP th{line-height:30px; background:#f2f2f2}

.TextA span{margin-right:20px}


/**/
.myMsgBox{}
.myMsgBox dl{display:block; margin-bottom:10px; width:100%}
.myMsgBox dl dt{display:block; line-height:30px; height:30px; border:1px solid #ddd}
.myMsgBox dl dt:hover{background:#e5f2ff}
.myMsgBox dl dt p{display:block; width:75%; float:left; background:url(../images/blog_18.gif) no-repeat 10px 13px; padding-left:18px}
.myMsgBox dl dt p font{color:#666; margin-right:8px; font-weight:normal}
.myMsgBox dl dt span{display:block; float:left; width:10%; text-align:right; border-left:0; color:#666; font-family:Arial, Helvetica, sans-serif}
.myMsgBox dl dt span a{color:#069}
.myMsgBox dl dt p a{color:#069}
.myMsgBox dl dt p a:hover{text-decoration:none; margin-left:2px}
.myMsgBox dl dd{display:none; padding:15px; background:#fafafa; border:1px solid #ddd; border-top:0; line-height:18px; text-indent:24px; color:#333}
.myMsgBox .On dd{display:block}






.ConBox{background:#fff}
.ConBox b{display:block; border-bottom:1px dashed #999; height:30px; line-height:30px; margin:10px 0 5px; font-size:14px; clear:both}
.ConBox p{margin:8px 0; line-height:24px; font-size:12px; text-indent:24px; font-size:13px}
.ConBox img{float:right; padding:5px; background:#f2f2f2; border:1px solid #ccc; margin-left:20px}
.ConBox span img{float:none; padding:0; border:0; margin:0}

.expertUl{display:block}
.expertUl li{display:block; float:left; width:291px; height:60px; padding:0 15px 10px 0}
.expertUl li img{float:left; width:80px; height:60px; margin:0 3px 0 0; padding:0; border:0}
.expertUl li span{display:block; float:left; background:#ededed; width:200px; height:60px; line-height:20px; color:#666; padding:0 0 0 5px}
.expertUl li span strong{display:block; color:#c00}



.inputtext1{height:26px; font-size:12px; line-height:20px; padding:2px 5px; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; width:190px;}
.inputtext2{height:26px; font-size:12px; line-height:20px; padding:2px 5px; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; width:280px;}
.inputtext3{height:26px; font-size:12px; line-height:20px; padding:2px 5px; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; width:350px;}
.inputtext4{height:26px; font-size:12px; line-height:20px; padding:2px 5px; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; width:450px;}
.textarea1{height:105px; font-size:12px; line-height:16px; padding:2px 5px; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; float:left; width:450px;}

.inputtextQ1{height:26px; font-size:12px; line-height:20px; padding:2px 5px; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; width:90px;}
.inputtextQ2{height:26px; font-size:12px; line-height:20px; padding:2px 5px; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; width:50px;}


.chaxuan{  height:38px; background:#ececec; line-height:38px; font-weight:bold; color:#32616f; text-indent:20px; margin-bottom: 5px;}




